html {
  background-color: #eee;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5;
  color: #444;  
}

/* Layout 
================================ */

.wrap {
  margin: 0;
  max-width: 100%;
  width: 100%;
  background-color: #eee;
}
.subwrap {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  width: 100%;
  background-color: #eee;
}
.primary-header, aside {
  float: right;
  clear: right;
  width: 30%;
  padding: 15px;
  background-color: #eee;
}
aside {
  background-color: #eee;
  font-size: .85em;
}
.subpage-menu {
  margin: 0 0 15px;
  font-size: .8em;
  li {
    border-top: 1px dotted #d4d7d9;
    margin: 0.5em 0 0;
    padding: 0.5em 0 0;
    list-style: none;
    a {
      color: #ff8000;
      &.back { }
      &:visited { color: #222; }
      &:hover { color: #ff8000; }
      &:active { color: #222; }
    }
  }
}
//.subpage-feature {
//  display: block;
//  background-color: #eee;
//  clear: right;
//  padding: 0 15px;
//}
//.subpage-content {
//  display: block;
//  background-color: #eee;
//  clear: right;
//  padding: 15px;
//  width: 62.5%;
//  img {
//    border-bottom: 1px solid #ff8000;
//  }
//}
.content {
  float: left;
  width: 62.5%;
  padding: 15px;
  background-color: #fff;
  img {
    border-bottom: 2px solid #ff8000;
  }
}



.content-sub {
  padding: 0 15px;
  float: left;
}
.site-title {
  margin-top: .75em;
}
.content-title {
  margin-top: .25em;
  line-height: 1.05;
}
.page-menu {
  margin: 0 0 15px;
}

footer {
  background-color: #fff;
  float: left;
  width: 62.5%;
  clear: both;
  font-size: .75em;
  padding: 15px;
  p {
    color: #aaa;
  }
}
.whence, .copyright {
  padding: 15px 0;
  float: left;
  clear: left;
}

// smaller
@media only screen and (max-width: 1085px) {
  body {
    font-size: 16px;
  }
  .wrap {
    margin: 0 auto;
  }
  .subwrap {
    background-color: #eee;
  }
  .primary-header, .content, .subpage-menu, aside {
    float: none;
    width: auto;
  }
  .primary-header {
    background-color: #fff;
  }
  .content {
    background-color: #eee;
  }
//  .subpage-content {
//    width: auto;
//    padding: 15px;
//  }
  .content-title {
    padding: 0;
  }
  aside {
    margin: 0;
    padding: 0 15px;
  }
  footer {
    width: 100%;
  }
}

/* Text 
================================ */

a {
  color: #ff8000;
  &.back { }
  &:visited { color: #ff8000; }
  &:hover { color: #222; }
  &:active { color: #ff8000; }
  &.is-current-page { color: #222; }
}

h1, h2, h3, h4 {
  margin-top: 1.5em;
  margin-bottom: .75em;
  font-weight: 600;
}
p {
  margin-bottom: 1em;
  color: #666;
}
.caption {
  font-size: .85em;
  line-height: 1.2;
  max-width: 67%;
  color: #ff8000;
  margin-bottom: 1.5em;
}

/* Lightbox */

.lb-data .lb-caption {
  color: #ff9000;
  font-weight: 400;
}
.lb-data .lb-number {
  color: #ddd;
}







/* I got 99 problems, but this last line ain't one */