/* */
/* jcurran-design customization */
/* */

$susy:(
  columns: 12,
//  debug: (image: show),
  global-box-sizing: border-box
);

$primary: rgba(255,129,0,.9); //#ff8100;
$contrast: rgba(15,38,134,.9); //#0F2686;

$brightest: rgba(255,255,255,.9); //#fff;
$dull: rgba(238,238,238,.9); //#eee;
$subtle: rgba(187,187,187,.9); //#bbb;
$bodytext: rgba(68,68,68,.9); //#444;
$darkest: rgba(34,34,34,.9); //#222;

@include border-box-sizing;

@mixin sc {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

html {
  background-color: $brightest;
}
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5;
  color: $bodytext;  
}

/* Text 
================================ */
a {
  color: $contrast; 
  &:visited { color: $contrast; }
  &:hover { 
    color: $contrast; 
    text-decoration: underline;
    &.back { color: $brightest; }
  } 
  &:active { color: $contrast; }
  &.is-current-page { color: $primary; } 
  &.back { color: $dull; }
}
h1, h2, h3, h4 {
  font-weight: 600;
}
h1 {
  font-weight: 400;
  font-size: 2em;
  color: $primary;
  margin-bottom: 1em;
}
p {
  margin-bottom: 1em;
  color: $bodytext;
}

/* Layout 
================================ */
header { // sidebar
  @include span(4 of 12 last);
  h1 {
    margin-bottom: 0;
  }
}
aside { background-color: blue; height: 100%; min-height: 100%; }
.wrap {
  background-color: $brightest;
  @include container (1200px);
}
.primary-header {
  background-color: $brightest;
}
.site-title {
  padding: 15px 15px 0 15px;
//  margin-top: .25em;
  font-weight: 400;
  font-size: 1.15em;
  a {
    color: $bodytext; 
    text-decoration: none;
    &:visited { color: $bodytext; }
    &:hover { color: $primary; } 
    &:active { color: $primary; }
  }
}
nav {
  padding: 15px;
  li a {
    text-decoration: none;
  }
}
.page-menu {
  font-size: .9em;
  a {
    color: $bodytext;  
    &:hover { 
      text-decoration: none; 
      color: $primary;
    } 
    &:visited { color: $bodytext; }
    &:active { color: $primary; }
    &.is-current-page { color: $primary; }
  }
}
.subpage-menu {
  font-size: .8em;
  li {
//    display: inline-block;
    margin: 0.5em 0 0;
    padding: 0.5em 0 0;
    border-top: 1px dotted #d4d7d9;
    list-style: none;
    a {
      color: $primary;
      text-decoration: none;
      &:hover { 
        color: $bodytext;       
        text-decoration: underline;
      } 
      &:visited { color: $primary; }
      &:active { color: $darkest; }
    }
  }
}
.content {  // content
  @include span(8 of 12);
  padding: 15px;
  background-color: $dull;
  img {
    border-bottom: 2px solid $primary;
  }
}
footer {
  @include container(1200px);
  p {
    color: $dull;
  }
  .whence, .copyright {
    padding: 15px;
    font-size: .8em;
  }
  .copyright {
    color: $subtle;
    font-size: .7em;
    padding-bottom: 0;
  }
  .wrap {
    background-color: $primary;
    @include span(8 of 12);
  }
}
.caption {
  font-size: .85em;
//  line-height: 1.2;
  color: $primary;
//  margin-bottom: 1.5em;
}
.tap {
  font-size: .75em;
//  line-height: 1.25;
  color: $subtle;
}
.thumb {
  img {
    height: 144px;
    max-height: 144px;
  }
}
.zcc-button {
  margin: 30px 0 15px;
}

/* */
@media screen and (min-width: 787px) and (max-width: 1140px) {
  body {
    font-size: 1.2em;
  }
}

/* */
@media screen and (max-width: 786px) {
  body {
    font-size: 1em;
  }
  header, .content { // sidebar
    @include span(12 of 12 last);
  }
  footer .wrap { 
    @include span(12 of 12 last);    
  }
}

/* Table */
.details {
  font-size: .75em;
  border-top: 1px dotted $dull;
  margin-bottom: 2em;
  tr {
    border-bottom: 1px dotted $dull;
    th {
      padding: .2em 0;
      padding-right: 1.5em;
      vertical-align: bottom;
      line-height: 1.25;
      @include sc;
    }
    td {
      padding: .2em 0;
      line-height: 1.25;
    }
    span {
      @include sc;
    }
  }
}

/* Lightbox */
.lb-data .lb-caption {
  color: $primary;
  font-weight: 400;
}
.lb-data .lb-number {
  color: $dull;
}

@include sticky-footer(96px, ".wrap", ".subwrap", footer);

///* I got 99 problems, but this last line of jcurran-design ain't one */