/* */
/* jcurran-design customization */
/* */

$susy:(
  columns: 12,
  gutters: .175,
  output: isolate,
  global-box-sizing: content-box,
//  debug: (image:show)
);

$primary: rgba(255,129,0,1); //#ff8100;
$contrast: rgba(15,38,134,1); //#0F2686;

$brightest: rgba(255,255,255,1); //#fff;
$dull: rgba(238,238,238,1); //#eee;
$subtle: rgba(187,187,187,1); //#bbb;
$bodytext: rgba(68,68,68,1); //#444;
$darkest: rgba(34,34,34,1); //#222;

@include border-box-sizing;

@mixin sc {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

html {
  background-color: $brightest;
}
body {
  color: $bodytext;  
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5;
}

/* Text 
================================ */
a {
  color: $contrast; 
  &:visited { color: $contrast; }
  &:hover { 
    color: $contrast; 
    text-decoration: underline;
    &.back { color: $brightest; }
  } 
  &:active { color: $contrast; }
  &.is-current-page { color: $primary; } 
  &.back { 
    color: $dull; 
    text-decoration: none;
    &:hover { 
      text-decoration: underline;
    }
  }
}
h1 {
  color: $primary;
  font-size: 2em;
  margin: 0 0 1.5em;
  line-height: 1.1;
  text-shadow: 0 1px 0 $brightest;
}
h2 {
  font-weight: 600;
  font-size: 1.4em;
}
h3 {
  font-weight: 600;
  font-size: 1.2em;
}
h2, h3, h4 {
  margin: .75em 0 .5em;
  line-height: 1.1;
}
p {
  color: $bodytext;
  margin-bottom: 1em;
}
.beforelist {
  margin-bottom: 0;  
}
b, strong {
  font-weight: 600;
}

/* Layout 
================================ */
.wrap {
  @include container (1200px);
  background-color: $brightest;
}
header { // sidebar
  @include span(4 of 12 last);
  padding: 15px;
  h1 {
    margin-bottom: 0;
  }
}
aside {
  @include span(12);  
}
.primary-header {
  background-color: $brightest;
}
.site-title {
  display: none;
}
.page-menu {
  li {
    font-size: 1em;
    margin-bottom: .25em;
    &:nth-child(1) {
      font-size: 1.1em;
      margin-bottom: .5em;
      a {
        color: $primary;  
        &:visited { color: $primary; }
      }
    }
    a {
      color: $bodytext;  
      text-decoration: none;
      &:visited { color: $bodytext; }
      &:hover { 
        color: $primary;
        text-decoration: none; 
      } 
      &:active { color: $primary; }
      &.is-current-page { color: $primary; }
    }
  } 
}
.subpage-menu {
  clear:both;
  font-size: .8em;
  li {
    margin: 12px 0 0 0;
    padding: 13px 0 0 0;
    border-top: 1px dotted #d4d7d9;
    list-style: none;
    a {
      color: $primary;
      padding: 0 8px 0;
      margin: 2px 0 0 38px;
      border-radius: 12px;
      text-decoration: none;
      &:visited { color: $primary; }
      &:hover { 
        background-color: $primary;
        color: $brightest;       
      } 
      &:active { }
    }
  }
}
.topic-link {
  height: 24px;
}
.topic {
  background-position: 0 8px;
  background-repeat: no-repeat;
  background-size: 36px 36px;
}
.subtopic {
  background-position: 0 8px;
  background-repeat: no-repeat;
  background-size: 36px 36px;
}
.subtopics {
  margin-left: 28px;
}
section {
  padding: 0 15px;
}
.content {  // content
  @include span(8 of 12);
  background-color: $dull;
  box-shadow: inset 0 1px 2px $subtle;
  ul {
    list-style-type: square;
    margin-left: 1em;
    margin-bottom: 1em;
    &.subtopics {
      margin-left: 1.75em;
      margin-top: 10px;
    }
  }
  .subtopic {
    background-position: 0 6px;
  }
  .subpage-menu li {
    margin-top: 0px;
    padding-bottom: 10px;
  }
  .topic {
    background-position: 0 6px;
  }
  img {
    @include span(8 of 8);
    border: 1px dotted $subtle;
    border-bottom: none;
    margin-bottom: 15px;
    &.headshot {
      @include span(2 of 8);
    }
  }
  .caption-full {
    text-align: center;
    font-size: .8em;
    font-style: italic;
    margin-bottom: 1.5em;
  }
  .caption {
    font-size: .9em;
  }
  h2 {
    clear:both;
  }
  h1 {
    margin-top: 15px;
  }
}
.gallery, .content-body {
  clear: both;
}
.thumb {
  @include gallery(4 of 12);
  margin-bottom: 2em;
  color: $primary;
  font-size: .8em;
  line-height: 1.25;
  text-decoration: none;
  &:hover {
    color: $primary;
  }
  &:visited {
    color: $primary;
  }
  img {
    @include span(4 of 4);
    border: 1px solid $subtle;
    border-bottom: 2px solid $primary;
    margin-bottom: .25em;
  }
}
.tap {
  font-size: .75em;
  line-height: 1.25;
  color: $subtle;
}
footer {
  p {
    color: $dull;
  }
  .whence, .copyright {
    font-size: .8em;
    padding: 15px;
  }
  .copyright {
    color: $brightest;
    text-shadow: 0 -.5px 0 darken($primary, 30%);
    font-size: .8em;
    text-decoration: none;
    a {
      color: $brightest;
      text-decoration: none;
    }
  }
  .wrap {
    box-shadow: inset 0 1px 1px #999;
    background-color: $primary;
  }
  .whence {
    a {
      border-radius: 2px;
      padding: 2px 6px;
      text-decoration: none;
      background-color: $dull;
      color: $primary;
      border-top: 1px solid $brightest;
      border-bottom: 1px solid $subtle;
      &:hover {
        text-decoration: none;
        background-color: lighten($dull, 10%);
        color: $primary;
      }
    }
  }
}
.featured {
  @include clearfix;
  margin-left: -15px;
  margin-right: -15px;
  img {
    @include push(1 of 16);
    @include span (6 of 16);
    border: none;
    margin-top: 10px;
  }
  .description {
    @include push(2 of 16);
    @include span (6 of 16);
    color: $brightest;
    text-align: right;
    text-shadow: 0 -1px 0 black;
    h2 {
      font-weight: 400;
      font-size: 32px;
      span {
        font-weight: 200;
        font-size: 16px;
      }
    }
  }
  &.one {
    background: url(/assets/jim-map-col.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &.three {
    background: url(/assets/textl8r-feature1.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
  }
  &.five {
    background-color: #ddd;
  }
}
.featured-right {
  @include clearfix;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: none;
  .description {
    @include push(1 of 16);
    @include span (7 of 16);
  }
  img {
    @include push(1 of 16);
    @include span (6 of 16);
    border: none;
    margin-top: 15px;
  }
  &.two {
    background-color: $primary;
  }
  &.four {
    background-color: #364f81;
  }
  &.six {
    background-color: $dull;
  }
}
.zcc-button {
  clear:both;
}

/* tablet */
@media screen and (min-width: 788px) and (max-width: 1140px) {
  body {
    font-size: 1.2em;
  }
  header { // sidebar
    @include span(4 of 12 last);
  }
  .content, footer .wrap { 
    @include span(8 of 12);    
  }
  .thumb {
    @include gallery(4 of 12);
    img {
      @include span(4 of 4);
    }
  }
  .subpage-menu li {
    margin-top: 0px;
    padding-bottom: 10px;
  }
  .topic {
    background-position: 0 4px;
  }
  .content ul.subtopics {
    margin-top: 10px;
  }
  .subtopic {
    background-position: 0 4px;
  }
  .featured {
    .description {
      h2 {
        font-size: 24px;
        span {
          font-size: 14px;
        }
      }
    }
  }
}

/* mobile */
@media screen and (max-width: 787px) {
  body {
    font-size: 1.1em;
  }
  header { // sidebar
    @include span(12 of 12);
  }
  .content, footer .wrap { 
    @include span(12 of 12);
  }
  .thumb {
    @include gallery(6 of 12);
    img {
      @include span(6 of 6);
    }
  }
  .subpage-menu li {
    margin-top: 0px;
    padding-bottom: 10px;
  }
  .topic {
    background-position: 0 4px;
  }
  .content ul.subtopics {
    margin-top: 10px;
  }
  .subtopic {
    background-position: 0 4px;
  }
  .featured {
    .description {
      h2 {
        font-size: 18px;
        span {
          font-size: 12px;
        }
      }
    }
  }
}

/* Table */
.details {
  font-size: .75em;
  border-top: 1px dotted $subtle;
  margin: 1.5em 0 2em;
  tr {
    border-bottom: 1px dotted $subtle;
    th {
      padding: .2em 0;
      padding-right: 1.5em;
      vertical-align: bottom;
      line-height: 1.25;
      @include sc;
    }
    td {
      padding: .2em 0;
      line-height: 1.25;
    }
    span {
      @include sc;
    }
  }
}

/* Lightbox */
.lb-data .lb-caption {
  color: $primary;
  font-weight: 400;
}
.lb-data .lb-number {
  color: $dull;
  margin-top: 3px;
}
.lb-data .lb-details {
  line-height: 13px;
}
@font-face {
  font-family: 'icomoon';
  src: url('/images/fonts/icomoon.woff') format('woff'), /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
       url('/images/fonts/icomoon.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
.icon-envelop:before {
    content: "\e945";
    font-family: 'icomoon';
}
.icon-twitter:before {
    content: "\ea91";
    font-family: 'icomoon';
}
.icon-linkedin:before {
    content: "\eac8";
    font-family: 'icomoon';
}

/* end jcurran custom styles */
