@charset "UTF-8";
/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Preload images */
/* line 2, ../sass/partials/_lightbox.scss */
body:after {
  content: url(../../../images/close.png) url(../../../images/loading.gif) url(../../../images/prev.png) url(../../../images/next.png);
  display: none;
}

/* line 7, ../sass/partials/_lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 18, ../sass/partials/_lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

/* line 28, ../sass/partials/_lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 39, ../sass/partials/_lightbox.scss */
.lightbox a img {
  border: none;
}

/* line 43, ../sass/partials/_lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 57, ../sass/partials/_lightbox.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 63, ../sass/partials/_lightbox.scss */
.lb-container {
  padding: 4px;
}

/* line 67, ../sass/partials/_lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 77, ../sass/partials/_lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../../images/loading.gif) no-repeat;
}

/* line 85, ../sass/partials/_lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 94, ../sass/partials/_lightbox.scss */
.lb-container > .nav {
  left: 0;
}

/* line 98, ../sass/partials/_lightbox.scss */
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

/* line 103, ../sass/partials/_lightbox.scss */
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 109, ../sass/partials/_lightbox.scss */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../../../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 122, ../sass/partials/_lightbox.scss */
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 127, ../sass/partials/_lightbox.scss */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../../../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 140, ../sass/partials/_lightbox.scss */
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 145, ../sass/partials/_lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 158, ../sass/partials/_lightbox.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 164, ../sass/partials/_lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #ccc;
}

/* line 169, ../sass/partials/_lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 176, ../sass/partials/_lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 182, ../sass/partials/_lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

/* line 190, ../sass/partials/_lightbox.scss */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../../../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 206, ../sass/partials/_lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* */
/* jcurran-design customization */
/* */
/* line 21, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 30, ../sass/partials/_jcurranstyle.scss */
html {
  background-color: white;
}

/* line 33, ../sass/partials/_jcurranstyle.scss */
body {
  color: #444444;
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5;
}

/* Text 
================================ */
/* line 42, ../sass/partials/_jcurranstyle.scss */
a {
  color: #0f2686;
}
/* line 44, ../sass/partials/_jcurranstyle.scss */
a:visited {
  color: #0f2686;
}
/* line 45, ../sass/partials/_jcurranstyle.scss */
a:hover {
  color: #0f2686;
  text-decoration: underline;
}
/* line 48, ../sass/partials/_jcurranstyle.scss */
a:hover.back {
  color: white;
}
/* line 50, ../sass/partials/_jcurranstyle.scss */
a:active {
  color: #0f2686;
}
/* line 51, ../sass/partials/_jcurranstyle.scss */
a.is-current-page {
  color: #ff8100;
}
/* line 52, ../sass/partials/_jcurranstyle.scss */
a.back {
  color: #eeeeee;
  text-decoration: none;
}
/* line 55, ../sass/partials/_jcurranstyle.scss */
a.back:hover {
  text-decoration: underline;
}

/* line 60, ../sass/partials/_jcurranstyle.scss */
h1 {
  color: #ff8100;
  font-size: 2em;
  margin: 0 0 1.5em;
  line-height: 1.1;
  text-shadow: 0 1px 0 white;
}

/* line 67, ../sass/partials/_jcurranstyle.scss */
h2 {
  font-weight: 600;
  font-size: 1.4em;
}

/* line 71, ../sass/partials/_jcurranstyle.scss */
h3 {
  font-weight: 600;
  font-size: 1.2em;
}

/* line 75, ../sass/partials/_jcurranstyle.scss */
h2, h3, h4 {
  margin: .75em 0 .5em;
  line-height: 1.1;
}

/* line 79, ../sass/partials/_jcurranstyle.scss */
p {
  color: #444444;
  margin-bottom: 1em;
}

/* line 83, ../sass/partials/_jcurranstyle.scss */
.beforelist {
  margin-bottom: 0;
}

/* line 86, ../sass/partials/_jcurranstyle.scss */
b, strong {
  font-weight: 600;
}

/* Layout 
================================ */
/* line 92, ../sass/partials/_jcurranstyle.scss */
.wrap {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 96, ../sass/partials/_jcurranstyle.scss */
header {
  width: 32.49551%;
  float: left;
  margin-left: 67.50449%;
  margin-right: -100%;
  padding: 15px;
}
/* line 99, ../sass/partials/_jcurranstyle.scss */
header h1 {
  margin-bottom: 0;
}

/* line 103, ../sass/partials/_jcurranstyle.scss */
aside {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
}

/* line 106, ../sass/partials/_jcurranstyle.scss */
.primary-header {
  background-color: white;
}

/* line 109, ../sass/partials/_jcurranstyle.scss */
.site-title {
  display: none;
}

/* line 113, ../sass/partials/_jcurranstyle.scss */
.page-menu li {
  font-size: 1em;
  margin-bottom: .25em;
}
/* line 116, ../sass/partials/_jcurranstyle.scss */
.page-menu li:nth-child(1) {
  font-size: 1.1em;
  margin-bottom: .5em;
}
/* line 119, ../sass/partials/_jcurranstyle.scss */
.page-menu li:nth-child(1) a {
  color: #ff8100;
}
/* line 121, ../sass/partials/_jcurranstyle.scss */
.page-menu li:nth-child(1) a:visited {
  color: #ff8100;
}
/* line 124, ../sass/partials/_jcurranstyle.scss */
.page-menu li a {
  color: #444444;
  text-decoration: none;
}
/* line 127, ../sass/partials/_jcurranstyle.scss */
.page-menu li a:visited {
  color: #444444;
}
/* line 128, ../sass/partials/_jcurranstyle.scss */
.page-menu li a:hover {
  color: #ff8100;
  text-decoration: none;
}
/* line 132, ../sass/partials/_jcurranstyle.scss */
.page-menu li a:active {
  color: #ff8100;
}
/* line 133, ../sass/partials/_jcurranstyle.scss */
.page-menu li a.is-current-page {
  color: #ff8100;
}

/* line 137, ../sass/partials/_jcurranstyle.scss */
.subpage-menu {
  clear: both;
  font-size: .8em;
}
/* line 140, ../sass/partials/_jcurranstyle.scss */
.subpage-menu li {
  margin: 12px 0 0 0;
  padding: 13px 0 0 0;
  border-top: 1px dotted #d4d7d9;
  list-style: none;
}
/* line 145, ../sass/partials/_jcurranstyle.scss */
.subpage-menu li a {
  color: #ff8100;
  padding: 0 8px 0;
  margin: 2px 0 0 38px;
  border-radius: 12px;
  text-decoration: none;
}
/* line 151, ../sass/partials/_jcurranstyle.scss */
.subpage-menu li a:visited {
  color: #ff8100;
}
/* line 152, ../sass/partials/_jcurranstyle.scss */
.subpage-menu li a:hover {
  background-color: #ff8100;
  color: white;
}

/* line 160, ../sass/partials/_jcurranstyle.scss */
.topic-link {
  height: 24px;
}

/* line 163, ../sass/partials/_jcurranstyle.scss */
.topic {
  background-position: 0 8px;
  background-repeat: no-repeat;
  background-size: 36px 36px;
}

/* line 168, ../sass/partials/_jcurranstyle.scss */
.subtopic {
  background-position: 0 8px;
  background-repeat: no-repeat;
  background-size: 36px 36px;
}

/* line 173, ../sass/partials/_jcurranstyle.scss */
.subtopics {
  margin-left: 28px;
}

/* line 176, ../sass/partials/_jcurranstyle.scss */
section {
  padding: 0 15px;
}

/* line 179, ../sass/partials/_jcurranstyle.scss */
.content {
  width: 66.24776%;
  float: left;
  margin-right: 1.25673%;
  background-color: #eeeeee;
  box-shadow: inset 0 1px 2px #bbbbbb;
}
/* line 183, ../sass/partials/_jcurranstyle.scss */
.content ul {
  list-style-type: square;
  margin-left: 1em;
  margin-bottom: 1em;
}
/* line 187, ../sass/partials/_jcurranstyle.scss */
.content ul.subtopics {
  margin-left: 1.75em;
  margin-top: 10px;
}
/* line 192, ../sass/partials/_jcurranstyle.scss */
.content .subtopic {
  background-position: 0 6px;
}
/* line 195, ../sass/partials/_jcurranstyle.scss */
.content .subpage-menu li {
  margin-top: 0px;
  padding-bottom: 10px;
}
/* line 199, ../sass/partials/_jcurranstyle.scss */
.content .topic {
  background-position: 0 6px;
}
/* line 202, ../sass/partials/_jcurranstyle.scss */
.content img {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border: 1px dotted #bbbbbb;
  border-bottom: none;
  margin-bottom: 15px;
}
/* line 207, ../sass/partials/_jcurranstyle.scss */
.content img.headshot {
  width: 23.57724%;
  float: left;
  margin-right: 1.89702%;
}
/* line 211, ../sass/partials/_jcurranstyle.scss */
.content .caption-full {
  text-align: center;
  font-size: .8em;
  font-style: italic;
  margin-bottom: 1.5em;
}
/* line 217, ../sass/partials/_jcurranstyle.scss */
.content .caption {
  font-size: .9em;
}
/* line 220, ../sass/partials/_jcurranstyle.scss */
.content h2 {
  clear: both;
}
/* line 223, ../sass/partials/_jcurranstyle.scss */
.content h1 {
  margin-top: 15px;
}

/* line 227, ../sass/partials/_jcurranstyle.scss */
.gallery, .content-body {
  clear: both;
}

/* line 230, ../sass/partials/_jcurranstyle.scss */
.thumb {
  width: 32.49551%;
  float: left;
  margin-bottom: 2em;
  color: #ff8100;
  font-size: .8em;
  line-height: 1.25;
  text-decoration: none;
}
/* line 66, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.thumb:nth-child(3n + 1) {
  margin-left: 0;
  margin-right: -100%;
  clear: both;
  margin-left: 0;
}
/* line 66, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.thumb:nth-child(3n + 2) {
  margin-left: 33.75224%;
  margin-right: -100%;
  clear: none;
}
/* line 66, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
.thumb:nth-child(3n + 3) {
  margin-left: 67.50449%;
  margin-right: -100%;
  clear: none;
}
/* line 237, ../sass/partials/_jcurranstyle.scss */
.thumb:hover {
  color: #ff8100;
}
/* line 240, ../sass/partials/_jcurranstyle.scss */
.thumb:visited {
  color: #ff8100;
}
/* line 243, ../sass/partials/_jcurranstyle.scss */
.thumb img {
  width: 100%;
  float: left;
  margin-left: 0;
  margin-right: 0;
  border: 1px solid #bbbbbb;
  border-bottom: 2px solid #ff8100;
  margin-bottom: .25em;
}

/* line 250, ../sass/partials/_jcurranstyle.scss */
.tap {
  font-size: .75em;
  line-height: 1.25;
  color: #bbbbbb;
}

/* line 256, ../sass/partials/_jcurranstyle.scss */
footer p {
  color: #eeeeee;
}
/* line 259, ../sass/partials/_jcurranstyle.scss */
footer .whence, footer .copyright {
  font-size: .8em;
  padding: 15px;
}
/* line 263, ../sass/partials/_jcurranstyle.scss */
footer .copyright {
  color: white;
  text-shadow: 0 -0.5px 0 #663400;
  font-size: .8em;
  text-decoration: none;
}
/* line 268, ../sass/partials/_jcurranstyle.scss */
footer .copyright a {
  color: white;
  text-decoration: none;
}
/* line 273, ../sass/partials/_jcurranstyle.scss */
footer .wrap {
  box-shadow: inset 0 1px 1px #999;
  background-color: #ff8100;
}
/* line 278, ../sass/partials/_jcurranstyle.scss */
footer .whence a {
  border-radius: 2px;
  padding: 2px 6px;
  text-decoration: none;
  background-color: #eeeeee;
  color: #ff8100;
  border-top: 1px solid white;
  border-bottom: 1px solid #bbbbbb;
}
/* line 286, ../sass/partials/_jcurranstyle.scss */
footer .whence a:hover {
  text-decoration: none;
  background-color: white;
  color: #ff8100;
}

/* line 294, ../sass/partials/_jcurranstyle.scss */
.featured {
  overflow: hidden;
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
}
/* line 298, ../sass/partials/_jcurranstyle.scss */
.featured img {
  margin-left: 6.30872%;
  width: 36.91275%;
  float: left;
  margin-right: 0.9396%;
  border: none;
  margin-top: 10px;
}
/* line 304, ../sass/partials/_jcurranstyle.scss */
.featured .description {
  margin-left: 12.61745%;
  width: 36.91275%;
  float: left;
  margin-right: 0.9396%;
  color: white;
  text-align: right;
  text-shadow: 0 -1px 0 black;
}
/* line 310, ../sass/partials/_jcurranstyle.scss */
.featured .description h2 {
  font-weight: 400;
  font-size: 32px;
}
/* line 313, ../sass/partials/_jcurranstyle.scss */
.featured .description h2 span {
  font-weight: 200;
  font-size: 16px;
}
/* line 319, ../sass/partials/_jcurranstyle.scss */
.featured.one {
  background: url(/assets/jim-map-col.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 324, ../sass/partials/_jcurranstyle.scss */
.featured.three {
  background: url(/assets/textl8r-feature1.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
/* line 329, ../sass/partials/_jcurranstyle.scss */
.featured.five {
  background-color: #ddd;
}

/* line 333, ../sass/partials/_jcurranstyle.scss */
.featured-right {
  overflow: hidden;
  *zoom: 1;
  margin-left: -15px;
  margin-right: -15px;
  border-bottom: none;
}
/* line 338, ../sass/partials/_jcurranstyle.scss */
.featured-right .description {
  margin-left: 6.30872%;
  width: 43.22148%;
  float: left;
  margin-right: 0.9396%;
}
/* line 342, ../sass/partials/_jcurranstyle.scss */
.featured-right img {
  margin-left: 6.30872%;
  width: 36.91275%;
  float: left;
  margin-right: 0.9396%;
  border: none;
  margin-top: 15px;
}
/* line 348, ../sass/partials/_jcurranstyle.scss */
.featured-right.two {
  background-color: #ff8100;
}
/* line 351, ../sass/partials/_jcurranstyle.scss */
.featured-right.four {
  background-color: #364f81;
}
/* line 354, ../sass/partials/_jcurranstyle.scss */
.featured-right.six {
  background-color: #eeeeee;
}

/* line 358, ../sass/partials/_jcurranstyle.scss */
.zcc-button {
  clear: both;
}

/* tablet */
@media screen and (min-width: 788px) and (max-width: 1140px) {
  /* line 364, ../sass/partials/_jcurranstyle.scss */
  body {
    font-size: 1.2em;
  }

  /* line 367, ../sass/partials/_jcurranstyle.scss */
  header {
    width: 32.49551%;
    float: left;
    margin-left: 67.50449%;
    margin-right: -100%;
  }

  /* line 370, ../sass/partials/_jcurranstyle.scss */
  .content, footer .wrap {
    width: 66.24776%;
    float: left;
    margin-right: 1.25673%;
  }

  /* line 373, ../sass/partials/_jcurranstyle.scss */
  .thumb {
    width: 32.49551%;
    float: left;
  }
  /* line 66, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
  .thumb:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
  .thumb:nth-child(3n + 2) {
    margin-left: 33.75224%;
    margin-right: -100%;
    clear: none;
  }
  /* line 66, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
  .thumb:nth-child(3n + 3) {
    margin-left: 67.50449%;
    margin-right: -100%;
    clear: none;
  }
  /* line 375, ../sass/partials/_jcurranstyle.scss */
  .thumb img {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 379, ../sass/partials/_jcurranstyle.scss */
  .subpage-menu li {
    margin-top: 0px;
    padding-bottom: 10px;
  }

  /* line 383, ../sass/partials/_jcurranstyle.scss */
  .topic {
    background-position: 0 4px;
  }

  /* line 386, ../sass/partials/_jcurranstyle.scss */
  .content ul.subtopics {
    margin-top: 10px;
  }

  /* line 389, ../sass/partials/_jcurranstyle.scss */
  .subtopic {
    background-position: 0 4px;
  }

  /* line 394, ../sass/partials/_jcurranstyle.scss */
  .featured .description h2 {
    font-size: 24px;
  }
  /* line 396, ../sass/partials/_jcurranstyle.scss */
  .featured .description h2 span {
    font-size: 14px;
  }
}
/* mobile */
@media screen and (max-width: 787px) {
  /* line 406, ../sass/partials/_jcurranstyle.scss */
  body {
    font-size: 1.1em;
  }

  /* line 409, ../sass/partials/_jcurranstyle.scss */
  header {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 412, ../sass/partials/_jcurranstyle.scss */
  .content, footer .wrap {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 415, ../sass/partials/_jcurranstyle.scss */
  .thumb {
    width: 49.37163%;
    float: left;
  }
  /* line 66, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
  .thumb:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 66, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_gallery.scss */
  .thumb:nth-child(2n + 2) {
    margin-left: 50.62837%;
    margin-right: -100%;
    clear: none;
  }
  /* line 417, ../sass/partials/_jcurranstyle.scss */
  .thumb img {
    width: 100%;
    float: left;
    margin-left: 0;
    margin-right: 0;
  }

  /* line 421, ../sass/partials/_jcurranstyle.scss */
  .subpage-menu li {
    margin-top: 0px;
    padding-bottom: 10px;
  }

  /* line 425, ../sass/partials/_jcurranstyle.scss */
  .topic {
    background-position: 0 4px;
  }

  /* line 428, ../sass/partials/_jcurranstyle.scss */
  .content ul.subtopics {
    margin-top: 10px;
  }

  /* line 431, ../sass/partials/_jcurranstyle.scss */
  .subtopic {
    background-position: 0 4px;
  }

  /* line 436, ../sass/partials/_jcurranstyle.scss */
  .featured .description h2 {
    font-size: 18px;
  }
  /* line 438, ../sass/partials/_jcurranstyle.scss */
  .featured .description h2 span {
    font-size: 12px;
  }
}
/* Table */
/* line 447, ../sass/partials/_jcurranstyle.scss */
.details {
  font-size: .75em;
  border-top: 1px dotted #bbbbbb;
  margin: 1.5em 0 2em;
}
/* line 451, ../sass/partials/_jcurranstyle.scss */
.details tr {
  border-bottom: 1px dotted #bbbbbb;
}
/* line 453, ../sass/partials/_jcurranstyle.scss */
.details tr th {
  padding: .2em 0;
  padding-right: 1.5em;
  vertical-align: bottom;
  line-height: 1.25;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}
/* line 460, ../sass/partials/_jcurranstyle.scss */
.details tr td {
  padding: .2em 0;
  line-height: 1.25;
}
/* line 464, ../sass/partials/_jcurranstyle.scss */
.details tr span {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

/* Lightbox */
/* line 471, ../sass/partials/_jcurranstyle.scss */
.lb-data .lb-caption {
  color: #ff8100;
  font-weight: 400;
}

/* line 475, ../sass/partials/_jcurranstyle.scss */
.lb-data .lb-number {
  color: #eeeeee;
  margin-top: 3px;
}

/* line 479, ../sass/partials/_jcurranstyle.scss */
.lb-data .lb-details {
  line-height: 13px;
}

@font-face {
  font-family: 'icomoon';
  src: url("/images/fonts/icomoon.woff") format("woff"), url("/images/fonts/icomoon.ttf") format("truetype");
  /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}
/* line 487, ../sass/partials/_jcurranstyle.scss */
.icon-envelop:before {
  content: "\e945";
  font-family: 'icomoon';
}

/* line 491, ../sass/partials/_jcurranstyle.scss */
.icon-twitter:before {
  content: "\ea91";
  font-family: 'icomoon';
}

/* line 495, ../sass/partials/_jcurranstyle.scss */
.icon-linkedin:before {
  content: "\eac8";
  font-family: 'icomoon';
}

/* end jcurran custom styles */
