/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Preload images */
/* line 2, ../sass/partials/_lightbox.scss */
body:after {
  content: url(../../../images/close.png) url(../../../images/loading.gif) url(../../../images/prev.png) url(../../../images/next.png);
  display: none;
}

/* line 7, ../sass/partials/_lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 18, ../sass/partials/_lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

/* line 28, ../sass/partials/_lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 39, ../sass/partials/_lightbox.scss */
.lightbox a img {
  border: none;
}

/* line 43, ../sass/partials/_lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 57, ../sass/partials/_lightbox.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 63, ../sass/partials/_lightbox.scss */
.lb-container {
  padding: 4px;
}

/* line 67, ../sass/partials/_lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 77, ../sass/partials/_lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../../images/loading.gif) no-repeat;
}

/* line 85, ../sass/partials/_lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 94, ../sass/partials/_lightbox.scss */
.lb-container > .nav {
  left: 0;
}

/* line 98, ../sass/partials/_lightbox.scss */
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

/* line 103, ../sass/partials/_lightbox.scss */
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 109, ../sass/partials/_lightbox.scss */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../../../images/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 122, ../sass/partials/_lightbox.scss */
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 127, ../sass/partials/_lightbox.scss */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../../../images/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 140, ../sass/partials/_lightbox.scss */
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 145, ../sass/partials/_lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 158, ../sass/partials/_lightbox.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 164, ../sass/partials/_lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #ccc;
}

/* line 169, ../sass/partials/_lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 176, ../sass/partials/_lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 182, ../sass/partials/_lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

/* line 190, ../sass/partials/_lightbox.scss */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../../../images/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 206, ../sass/partials/_lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* */
/* jcurran-design customization */
/* */
/* line 21, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/language/susy/_box-sizing.scss */
*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 28, ../sass/partials/_jcurranstyle.scss */
html {
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 31, ../sass/partials/_jcurranstyle.scss */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5;
  color: rgba(68, 68, 68, 0.9);
}

/* Text 
================================ */
/* line 40, ../sass/partials/_jcurranstyle.scss */
a {
  color: rgba(15, 38, 134, 0.9);
}
/* line 42, ../sass/partials/_jcurranstyle.scss */
a:visited {
  color: rgba(15, 38, 134, 0.9);
}
/* line 43, ../sass/partials/_jcurranstyle.scss */
a:hover {
  color: rgba(15, 38, 134, 0.9);
  text-decoration: underline;
}
/* line 46, ../sass/partials/_jcurranstyle.scss */
a:hover.back {
  color: rgba(255, 255, 255, 0.9);
}
/* line 48, ../sass/partials/_jcurranstyle.scss */
a:active {
  color: rgba(15, 38, 134, 0.9);
}
/* line 49, ../sass/partials/_jcurranstyle.scss */
a.is-current-page {
  color: rgba(255, 129, 0, 0.9);
}
/* line 50, ../sass/partials/_jcurranstyle.scss */
a.back {
  color: rgba(238, 238, 238, 0.9);
}

/* line 52, ../sass/partials/_jcurranstyle.scss */
h1, h2, h3, h4 {
  font-weight: 600;
}

/* line 55, ../sass/partials/_jcurranstyle.scss */
h1 {
  font-weight: 400;
  font-size: 2em;
  color: rgba(255, 129, 0, 0.9);
  margin-bottom: 1em;
}

/* line 61, ../sass/partials/_jcurranstyle.scss */
p {
  margin-bottom: 1em;
  color: rgba(68, 68, 68, 0.9);
}

/* Layout 
================================ */
/* line 68, ../sass/partials/_jcurranstyle.scss */
header {
  width: 32.20339%;
  float: right;
  margin-right: 0;
}
/* line 70, ../sass/partials/_jcurranstyle.scss */
header h1 {
  margin-bottom: 0;
}

/* line 74, ../sass/partials/_jcurranstyle.scss */
aside {
  background-color: blue;
  height: 100%;
  min-height: 100%;
}

/* line 75, ../sass/partials/_jcurranstyle.scss */
.wrap {
  background-color: rgba(255, 255, 255, 0.9);
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
.wrap:after {
  content: " ";
  display: block;
  clear: both;
}

/* line 79, ../sass/partials/_jcurranstyle.scss */
.primary-header {
  background-color: rgba(255, 255, 255, 0.9);
}

/* line 82, ../sass/partials/_jcurranstyle.scss */
.site-title {
  padding: 15px 15px 0 15px;
  font-weight: 400;
  font-size: 1.15em;
}
/* line 87, ../sass/partials/_jcurranstyle.scss */
.site-title a {
  color: rgba(68, 68, 68, 0.9);
  text-decoration: none;
}
/* line 90, ../sass/partials/_jcurranstyle.scss */
.site-title a:visited {
  color: rgba(68, 68, 68, 0.9);
}
/* line 91, ../sass/partials/_jcurranstyle.scss */
.site-title a:hover {
  color: rgba(255, 129, 0, 0.9);
}
/* line 92, ../sass/partials/_jcurranstyle.scss */
.site-title a:active {
  color: rgba(255, 129, 0, 0.9);
}

/* line 95, ../sass/partials/_jcurranstyle.scss */
nav {
  padding: 15px;
}
/* line 97, ../sass/partials/_jcurranstyle.scss */
nav li a {
  text-decoration: none;
}

/* line 101, ../sass/partials/_jcurranstyle.scss */
.page-menu {
  font-size: .9em;
}
/* line 103, ../sass/partials/_jcurranstyle.scss */
.page-menu a {
  color: rgba(68, 68, 68, 0.9);
}
/* line 105, ../sass/partials/_jcurranstyle.scss */
.page-menu a:hover {
  text-decoration: none;
  color: rgba(255, 129, 0, 0.9);
}
/* line 109, ../sass/partials/_jcurranstyle.scss */
.page-menu a:visited {
  color: rgba(68, 68, 68, 0.9);
}
/* line 110, ../sass/partials/_jcurranstyle.scss */
.page-menu a:active {
  color: rgba(255, 129, 0, 0.9);
}
/* line 111, ../sass/partials/_jcurranstyle.scss */
.page-menu a.is-current-page {
  color: rgba(255, 129, 0, 0.9);
}

/* line 114, ../sass/partials/_jcurranstyle.scss */
.subpage-menu {
  font-size: .8em;
}
/* line 116, ../sass/partials/_jcurranstyle.scss */
.subpage-menu li {
  margin: 0.5em 0 0;
  padding: 0.5em 0 0;
  border-top: 1px dotted #d4d7d9;
  list-style: none;
}
/* line 122, ../sass/partials/_jcurranstyle.scss */
.subpage-menu li a {
  color: rgba(255, 129, 0, 0.9);
  text-decoration: none;
}
/* line 125, ../sass/partials/_jcurranstyle.scss */
.subpage-menu li a:hover {
  color: rgba(68, 68, 68, 0.9);
  text-decoration: underline;
}
/* line 129, ../sass/partials/_jcurranstyle.scss */
.subpage-menu li a:visited {
  color: rgba(255, 129, 0, 0.9);
}
/* line 130, ../sass/partials/_jcurranstyle.scss */
.subpage-menu li a:active {
  color: rgba(34, 34, 34, 0.9);
}

/* line 134, ../sass/partials/_jcurranstyle.scss */
.content {
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
  padding: 15px;
  background-color: rgba(238, 238, 238, 0.9);
}
/* line 138, ../sass/partials/_jcurranstyle.scss */
.content img {
  border-bottom: 2px solid rgba(255, 129, 0, 0.9);
}

/* line 142, ../sass/partials/_jcurranstyle.scss */
footer {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
/* line 12, ../../../.rvm/gems/ruby-2.2.0/gems/susy-2.2.2/sass/susy/output/support/_clearfix.scss */
footer:after {
  content: " ";
  display: block;
  clear: both;
}
/* line 144, ../sass/partials/_jcurranstyle.scss */
footer p {
  color: rgba(238, 238, 238, 0.9);
}
/* line 147, ../sass/partials/_jcurranstyle.scss */
footer .whence, footer .copyright {
  padding: 15px;
  font-size: .8em;
}
/* line 151, ../sass/partials/_jcurranstyle.scss */
footer .copyright {
  color: rgba(187, 187, 187, 0.9);
  font-size: .7em;
  padding-bottom: 0;
}
/* line 156, ../sass/partials/_jcurranstyle.scss */
footer .wrap {
  background-color: rgba(255, 129, 0, 0.9);
  width: 66.10169%;
  float: left;
  margin-right: 1.69492%;
}

/* line 161, ../sass/partials/_jcurranstyle.scss */
.caption {
  font-size: .85em;
  color: rgba(255, 129, 0, 0.9);
}

/* line 167, ../sass/partials/_jcurranstyle.scss */
.tap {
  font-size: .75em;
  color: rgba(187, 187, 187, 0.9);
}

/* line 173, ../sass/partials/_jcurranstyle.scss */
.thumb img {
  height: 144px;
  max-height: 144px;
}

/* line 178, ../sass/partials/_jcurranstyle.scss */
.zcc-button {
  margin: 30px 0 15px;
}

/* */
@media screen and (min-width: 787px) and (max-width: 1140px) {
  /* line 184, ../sass/partials/_jcurranstyle.scss */
  body {
    font-size: 1.2em;
  }
}
/* */
@media screen and (max-width: 786px) {
  /* line 191, ../sass/partials/_jcurranstyle.scss */
  body {
    font-size: 1em;
  }

  /* line 194, ../sass/partials/_jcurranstyle.scss */
  header, .content {
    width: 100%;
    float: right;
    margin-right: 0;
  }

  /* line 197, ../sass/partials/_jcurranstyle.scss */
  footer .wrap {
    width: 100%;
    float: right;
    margin-right: 0;
  }
}
/* Table */
/* line 203, ../sass/partials/_jcurranstyle.scss */
.details {
  font-size: .75em;
  border-top: 1px dotted rgba(238, 238, 238, 0.9);
  margin-bottom: 2em;
}
/* line 207, ../sass/partials/_jcurranstyle.scss */
.details tr {
  border-bottom: 1px dotted rgba(238, 238, 238, 0.9);
}
/* line 209, ../sass/partials/_jcurranstyle.scss */
.details tr th {
  padding: .2em 0;
  padding-right: 1.5em;
  vertical-align: bottom;
  line-height: 1.25;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}
/* line 216, ../sass/partials/_jcurranstyle.scss */
.details tr td {
  padding: .2em 0;
  line-height: 1.25;
}
/* line 220, ../sass/partials/_jcurranstyle.scss */
.details tr span {
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
}

/* Lightbox */
/* line 227, ../sass/partials/_jcurranstyle.scss */
.lb-data .lb-caption {
  color: rgba(255, 129, 0, 0.9);
  font-weight: 400;
}

/* line 231, ../sass/partials/_jcurranstyle.scss */
.lb-data .lb-number {
  color: rgba(238, 238, 238, 0.9);
}

/* line 10, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
html, body {
  height: 100%;
}

/* line 12, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.wrap {
  clear: both;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -96px;
}
/* line 18, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
.wrap .subwrap {
  height: 96px;
}

/* line 20, ../../../.rvm/gems/ruby-2.2.0/gems/compass-core-1.0.3/stylesheets/compass/layout/_sticky-footer.scss */
footer {
  clear: both;
  position: relative;
  height: 96px;
}
