/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* Preload images */
/* line 2, ../sass/_lightbox.scss */
body:after {
  content: url(../../../img/close.png) url(../../../img/loading.gif) url(../../../img/prev.png) url(../../../img/next.png);
  display: none;
}

/* line 7, ../sass/_lightbox.scss */
.lightboxOverlay {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 9998;
  background-color: black;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  opacity: 0.8;
  display: none;
}

/* line 18, ../sass/_lightbox.scss */
.lightbox {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 10000;
  text-align: center;
  line-height: 0;
  font-weight: normal;
}

/* line 28, ../sass/_lightbox.scss */
.lightbox .lb-image {
  display: block;
  height: auto;
  max-width: inherit;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}

/* line 39, ../sass/_lightbox.scss */
.lightbox a img {
  border: none;
}

/* line 43, ../sass/_lightbox.scss */
.lb-outerContainer {
  position: relative;
  background-color: white;
  *zoom: 1;
  width: 250px;
  height: 250px;
  margin: 0 auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

/* line 57, ../sass/_lightbox.scss */
.lb-outerContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 63, ../sass/_lightbox.scss */
.lb-container {
  padding: 4px;
}

/* line 67, ../sass/_lightbox.scss */
.lb-loader {
  position: absolute;
  top: 43%;
  left: 0;
  height: 25%;
  width: 100%;
  text-align: center;
  line-height: 0;
}

/* line 77, ../sass/_lightbox.scss */
.lb-cancel {
  display: block;
  width: 32px;
  height: 32px;
  margin: 0 auto;
  background: url(../../../img/loading.gif) no-repeat;
}

/* line 85, ../sass/_lightbox.scss */
.lb-nav {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
}

/* line 94, ../sass/_lightbox.scss */
.lb-container > .nav {
  left: 0;
}

/* line 98, ../sass/_lightbox.scss */
.lb-nav a {
  outline: none;
  background-image: url("data:image/gif;base64,R0lGODlhAQABAPAAAP///wAAACH5BAEAAAAALAAAAAABAAEAAAICRAEAOw==");
}

/* line 103, ../sass/_lightbox.scss */
.lb-prev, .lb-next {
  height: 100%;
  cursor: pointer;
  display: block;
}

/* line 109, ../sass/_lightbox.scss */
.lb-nav a.lb-prev {
  width: 34%;
  left: 0;
  float: left;
  background: url(../../../img/prev.png) left 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 122, ../sass/_lightbox.scss */
.lb-nav a.lb-prev:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 127, ../sass/_lightbox.scss */
.lb-nav a.lb-next {
  width: 64%;
  right: 0;
  float: right;
  background: url(../../../img/next.png) right 48% no-repeat;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  -webkit-transition: opacity 0.6s;
  -moz-transition: opacity 0.6s;
  -o-transition: opacity 0.6s;
  transition: opacity 0.6s;
}

/* line 140, ../sass/_lightbox.scss */
.lb-nav a.lb-next:hover {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 145, ../sass/_lightbox.scss */
.lb-dataContainer {
  margin: 0 auto;
  padding-top: 5px;
  *zoom: 1;
  width: 100%;
  -moz-border-radius-bottomleft: 4px;
  -webkit-border-bottom-left-radius: 4px;
  border-bottom-left-radius: 4px;
  -moz-border-radius-bottomright: 4px;
  -webkit-border-bottom-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/* line 158, ../sass/_lightbox.scss */
.lb-dataContainer:after {
  content: "";
  display: table;
  clear: both;
}

/* line 164, ../sass/_lightbox.scss */
.lb-data {
  padding: 0 4px;
  color: #ccc;
}

/* line 169, ../sass/_lightbox.scss */
.lb-data .lb-details {
  width: 85%;
  float: left;
  text-align: left;
  line-height: 1.1em;
}

/* line 176, ../sass/_lightbox.scss */
.lb-data .lb-caption {
  font-size: 13px;
  font-weight: bold;
  line-height: 1em;
}

/* line 182, ../sass/_lightbox.scss */
.lb-data .lb-number {
  display: block;
  clear: left;
  padding-bottom: 1em;
  font-size: 12px;
  color: #999999;
}

/* line 190, ../sass/_lightbox.scss */
.lb-data .lb-close {
  display: block;
  float: right;
  width: 30px;
  height: 30px;
  background: url(../../../img/close.png) top right no-repeat;
  text-align: right;
  outline: none;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  transition: opacity 0.2s;
}

/* line 206, ../sass/_lightbox.scss */
.lb-data .lb-close:hover {
  cursor: pointer;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  opacity: 1;
}

/* line 1, ../sass/_defaultstyle.scss */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5;
}

/* line 7, ../sass/_defaultstyle.scss */
img, video, object {
  max-width: 100%;
}

/* line 9, ../sass/_defaultstyle.scss */
article, header, nav, section {
  display: block;
}

/* Layout 
================================ */
/* line 16, ../sass/_defaultstyle.scss */
.wrap {
  margin: 60px auto;
  max-width: 1200px;
  overflow: hidden;
  width: 90%;
}

/* line 23, ../sass/_defaultstyle.scss */
.primary-header {
  float: right;
  width: 30%;
}

/* line 28, ../sass/_defaultstyle.scss */
.content {
  float: left;
  width: 65%;
}

@media only screen and (max-width: 1085px) {
  /* line 34, ../sass/_defaultstyle.scss */
  body {
    font-size: 16px;
  }

  /* line 38, ../sass/_defaultstyle.scss */
  .wrap {
    margin: 15px auto;
  }

  /* line 42, ../sass/_defaultstyle.scss */
  .primary-header, .content {
    float: none;
    width: auto;
  }
}
/* Text 
================================ */
/* line 52, ../sass/_defaultstyle.scss */
a {
  color: #0091e5;
  text-decoration: none;
}

/* Header */
/* line 59, ../sass/_defaultstyle.scss */
.primary-header {
  font-size: 0.85em;
}

/* line 63, ../sass/_defaultstyle.scss */
.site-title {
  font-size: 1.2em;
}

/* line 65, ../sass/_defaultstyle.scss */
.page-menu {
  margin: 0 0 30px;
  padding: 0;
}

/* line 70, ../sass/_defaultstyle.scss */
.page-menu li {
  border-top: 1px dotted #d4d7d9;
  margin: 0.5em 0 0;
  padding: 0.5em 0 0;
  list-style: none;
}

/* line 77, ../sass/_defaultstyle.scss */
.is-current-page {
  color: #999;
  pointer-events: none;
}

/* Content */
/* line 84, ../sass/_defaultstyle.scss */
.content-title {
  font-size: 2.4em;
  line-height: 1.3;
  margin: 0 0 0.5em;
}

/* line 90, ../sass/_defaultstyle.scss */
.post-preview {
  border-top: 1px dotted #d4d7d9;
  margin: 1em 0 0;
  padding: 1em 0 0;
}

/* line 96, ../sass/_defaultstyle.scss */
.subpage-menu a {
  display: inline-block;
  margin-right: 15px;
}

/* I got 99 problems, but this last line ain't one */
/* line 1, ../sass/_jcurranstyle.scss */
html {
  background-color: #eee;
}

/* line 4, ../sass/_jcurranstyle.scss */
body {
  font-family: "Source Sans Pro", Helvetica, Arial, sans-serif;
  font-size: 22px;
  line-height: 1.5;
  color: #444;
}

/* Layout 
================================ */
/* line 14, ../sass/_jcurranstyle.scss */
.wrap {
  margin: 0;
  max-width: 100%;
  width: 100%;
  background-color: #eee;
}

/* line 20, ../sass/_jcurranstyle.scss */
.subwrap {
  margin: 0 auto;
  max-width: 1200px;
  overflow: hidden;
  width: 100%;
  background-color: #eee;
}

/* line 27, ../sass/_jcurranstyle.scss */
.primary-header, aside {
  float: right;
  clear: right;
  width: 30%;
  padding: 15px;
  background-color: #eee;
}

/* line 34, ../sass/_jcurranstyle.scss */
aside {
  background-color: #eee;
  font-size: .85em;
}

/* line 38, ../sass/_jcurranstyle.scss */
.subpage-menu {
  margin: 0 0 15px;
  font-size: .8em;
}
/* line 41, ../sass/_jcurranstyle.scss */
.subpage-menu li {
  border-top: 1px dotted #d4d7d9;
  margin: 0.5em 0 0;
  padding: 0.5em 0 0;
  list-style: none;
}
/* line 46, ../sass/_jcurranstyle.scss */
.subpage-menu li a {
  color: #ff8000;
}
/* line 49, ../sass/_jcurranstyle.scss */
.subpage-menu li a:visited {
  color: #222;
}
/* line 50, ../sass/_jcurranstyle.scss */
.subpage-menu li a:hover {
  color: #ff8000;
}
/* line 51, ../sass/_jcurranstyle.scss */
.subpage-menu li a:active {
  color: #222;
}

/* line 71, ../sass/_jcurranstyle.scss */
.content {
  float: left;
  width: 60%;
  padding: 15px 30px;
  background-color: #fff;
}
/* line 76, ../sass/_jcurranstyle.scss */
.content img {
  border-bottom: 2px solid #ff8000;
}

/* line 80, ../sass/_jcurranstyle.scss */
.content-sub {
  padding: 0 15px;
  float: left;
}

/* line 84, ../sass/_jcurranstyle.scss */
.site-title {
  margin-top: .75em;
}

/* line 87, ../sass/_jcurranstyle.scss */
.content-title {
  margin-top: .25em;
  margin-bottom: 1.25em;
  line-height: 1.05;
}

/* line 92, ../sass/_jcurranstyle.scss */
.page-menu {
  margin: 0 0 15px;
}

/* line 95, ../sass/_jcurranstyle.scss */
footer {
  background-color: #fff;
  float: left;
  width: 60%;
  clear: both;
  font-size: .75em;
  padding: 15px 30px;
}
/* line 102, ../sass/_jcurranstyle.scss */
footer p {
  color: #aaa;
}

/* line 106, ../sass/_jcurranstyle.scss */
.whence, .copyright {
  padding: 15px 0;
  float: left;
  clear: left;
}

@media only screen and (max-width: 1085px) {
  /* line 114, ../sass/_jcurranstyle.scss */
  body {
    font-size: 16px;
  }

  /* line 117, ../sass/_jcurranstyle.scss */
  .wrap {
    margin: 0 auto;
  }

  /* line 120, ../sass/_jcurranstyle.scss */
  .subwrap {
    background-color: #eee;
  }

  /* line 123, ../sass/_jcurranstyle.scss */
  .primary-header, .content, .subpage-menu, aside {
    float: none;
    width: auto;
  }

  /* line 127, ../sass/_jcurranstyle.scss */
  .primary-header {
    background-color: #fff;
  }

  /* line 130, ../sass/_jcurranstyle.scss */
  .content {
    width: 100%;
    background-color: #eee;
    padding: 15px;
  }

  /* line 139, ../sass/_jcurranstyle.scss */
  .content-title {
    padding: 0;
  }

  /* line 142, ../sass/_jcurranstyle.scss */
  aside {
    margin: 0;
    padding: 0 15px;
  }

  /* line 146, ../sass/_jcurranstyle.scss */
  footer {
    width: 100%;
    padding: 15px;
  }
}
/* Text 
================================ */
/* line 155, ../sass/_jcurranstyle.scss */
a {
  color: #ff8000;
}
/* line 158, ../sass/_jcurranstyle.scss */
a:visited {
  color: #ff8000;
}
/* line 159, ../sass/_jcurranstyle.scss */
a:hover {
  color: #222;
}
/* line 160, ../sass/_jcurranstyle.scss */
a:active {
  color: #ff8000;
}
/* line 161, ../sass/_jcurranstyle.scss */
a.is-current-page {
  color: #222;
}

/* line 164, ../sass/_jcurranstyle.scss */
h1, h2, h3, h4 {
  margin-top: 1.5em;
  margin-bottom: .75em;
  font-weight: 600;
}

/* line 169, ../sass/_jcurranstyle.scss */
h1 {
  font-weight: 400;
}

/* line 173, ../sass/_jcurranstyle.scss */
p {
  margin-bottom: 1em;
  color: #666;
}

/* line 177, ../sass/_jcurranstyle.scss */
.caption {
  font-size: .85em;
  line-height: 1.2;
  max-width: 67%;
  color: #ff8000;
  margin-bottom: 1.5em;
}

/* line 185, ../sass/_jcurranstyle.scss */
.details {
  font-size: .8em;
  border-top: 1px dotted #ddd;
  margin-bottom: 1.5em;
}
/* line 189, ../sass/_jcurranstyle.scss */
.details tr {
  border-bottom: 1px dotted #ddd;
}
/* line 191, ../sass/_jcurranstyle.scss */
.details tr th {
  padding: 2px 0;
  text-transform: lowercase;
  font-variant: small-caps;
  letter-spacing: 0.1em;
  padding-right: 1.5em;
}

/* Lightbox */
/* line 203, ../sass/_jcurranstyle.scss */
.lb-data .lb-caption {
  color: #ff9000;
  font-weight: 400;
}

/* line 207, ../sass/_jcurranstyle.scss */
.lb-data .lb-number {
  color: #ddd;
}

/* I got 99 problems, but this last line ain't one */
